<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate's Cove!</title>
    <link rel="stylesheet" src="stylesheets/bootstrap.min.css">
  </head>

  <body>
    <h1>Welcome to Pirate's Cove!</h1>
    <h2>Please tell us your about your pirate and the ship that they sail!</h2>

    <form method="POST" action="/show">
      <h3>Your Pirate</h3>
      <label for="name">Name:</label><input id='name' type='text' name='name'>
    </form>
  </body>
</html>
