<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Nested Forms Lab!</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  </head>

  <body>
    <h1>Welcome to Pirate's Cove!</h1>
    <p>Please tell us your
  </body>
</html>
